.searchResult{
	animation-name: border;
	animation-timing-function: linear;
	animation-duration: 3s;
	animation-iteration-count: 1;
}

@font-face {
  font-family: euphemia;
  src: url(../fonts/euphemia.ttf);
}

.brand{
	font-family: euphemia;
	color: white;
}

.brand span{
	color:#B27309;
	margin: 0;
	padding: 0;
}

.brand sup{
	font-size: 0.3em;
	top: -1.3em;
}

@keyframes border {
	from{
		border: 2px solid #205081;
	}
	to{
		border: 0px;
	}
}

.thumb{
	width: 50px;
	height: 50px;
}


#searchBar{
	background-color: white;
	position: absolute;
	z-index: 300;
	width: 100%;
	top: -75px;
	border-radius: 3px;
	padding: 50px;
	box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

#content{
	padding-bottom: 70px;
}

.label-info{
	background-color: #205081;
}

.ui-autocomplete{
	z-index: 2000;
	background-color: white;
}

.ui-autocomplete li div{
	padding: 10px !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover,
.ui-autocomplete li div:hover,
.ui-autocomplete li div:focus {
	text-decoration: none;
	border: 1px solid #ccc;
	background: #e5e5e5;
	color: #1C4773;
}

#searchBarNav{
	display: none;
	margin-left: 100px;
	position: relative;
	z-index: 2100;
}

#searchBar .btn-primary{
	background-color: #205081;
	color: white;
}

#searchBar .btn-primary:hover{
	background-color: #1C4773;
}

#searchBar .form-group{
	margin: 0;
}

#categorias{
	list-style-type: none;
	background-color: white;
	text-align: center;
	min-height: 300px;
	padding: 0;
	border-top: 1px solid #ccc;
}

#categorias li{
	box-sizing: border-box;
}


.categoria{
  width: 100%;
	border-top: 1px solid #ccc;
}

.categoria h2{
	padding-left: 15px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

#categorias li a, #categorias li a:visited{
	text-transform: capitalize;
	border-bottom: 1px solid #ccc;
	color: #767676;
	display: block;
	padding: 10px 20px;
	text-align: left;
	text-decoration: none;
}

#categorias li.active a{
	color: #1C4773 !important;
	font-weight: 600;
	background-color: #eee;
}

#categorias li a:hover, #categorias li a:active{
	text-decoration: none;
	color: #1C4773;
	background-color: #e5e5e5;
}

.btn-product{
	width: 100%;
}

#produtos{
	overflow: hidden;
}

.produto h3{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.produto .descricao{
	max-height: 80px;
	min-height: 80px;
	overflow-y: hidden;
}

.produto .thumbnail{
	position: relative;
	border: none;
	border-radius: 0;
}

.produto .thumbnail:hover{
	box-shadow: 0px 2px 4px #bbb;
}

.produto img{
	width: 100%;
}

ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  margin-left:10px;
	max-width: 130px;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
