header, article, nav{
  clear: both;
  width: 70%;
  margin: auto;
}

iframe{
  width: 600px;
  height: 400px;
}

nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li{
  float:left;
  padding: 10px;
  background-color: #CCC;
}

nav ul li a{
  text-decoration: none;
  color:#000;
}

footer{
  bottom:0;
}

p {
  text-align: justify;
}

form{
  width: 300px;
  margin: auto;
}

form input{
  margin-bottom: 10px;
  padding: 5px;
}
