header, article, nav{
  clear: both;
  margin: auto;
}

body{
  background: url("../img/gradient_bg.png") repeat-x;
}

iframe{
  width: 100%;
  height: 100%;
  border:none;
}


article{
  text-align: center;
  padding:10px 5px;
  margin-top: 10px;
}

article#article1{
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid purple;
}

article#article2{
  border-width: 1px;
  border-color: red;
  border-style: dashed;
}

article#svg{
  width: 4cm;
  text-align: center;
  border: 1px dotted #000;
}

article#iframe{
  padding:0;
  margin: 10px 0 0 0;
  width: 700px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

nav{
  background-color: #CCC;
}

nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li{
  float:left;
  padding: 10px;
}

nav ul li:hover{
  background-color: #ddd;
}

nav ul li a{
  text-decoration: none;
  color:#000;
}

footer {
  bottom:0;
}

footer a{
  color: purple;
  text-decoration: none;
}

footer a:hover{
  color:990099;
}

p {
  text-align: center;;
}

form{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 500px;
  margin: auto;
  border-top-style: double;;
  border-bottom-style: ridge;
  border-right-style: ridge;
  border-left-style: double;
  text-align: left;
}

form input{
  margin-bottom: 10px;
  padding: 5px;
}

form input[type="text"]{
  width: 100%;
}

h1{
  font-size: 3em;
}

h1, h2, h3{
  color: purple;
}

h2#formulario{
  text-align: center;
}

div#radio{
  float: left;
}
div#check{
  float: right;
}

form input[type="submit"]{
  float: right;
  background-color: purple;
  color: white;
  border:none;
  cursor: pointer;
}

form input[type="submit"]:hover{
  background-color: #990099;
}

.clear{
  clear: both;
}
