<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/animate.css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery-ui.css" media="screen" title="no title" charset="utf-8">
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/product.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="modal animated bounceInUp" tabindex="-1" role="dialog" id="cadastroModal">
    <div class="modal-dialog" role="document">
      <form id="cadastroForm" novalidate>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Cadastro</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="control-label" for="emailCadastro">Email*</label>
              <input id="emailCadastro" class="form-control" name="email" type="email" placeholder="seuemail@email.com"/>
            </div>
            <div class="form-group">
              <label class="control-label" for="passwordCadastro">Senha*</label>
              <input id="passwordCadastro" class="form-control" name="password" type="password" placeholder="******"/>
            </div>
            <div class="form-group">
              <label class="control-label" for="confirmPassword">Confirme a Senha*</label>
              <input id="confirmPassword" class="form-control" name="confirmPassowrd" type="password" placeholder="******"/>
            </div>
            <p class="help-block">* obrigatório</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Cadastrar-se</button>
          </div>
        </div><!-- /.modal-content -->
      </form>
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

    <div class="jumbotron">
      <div class="container">
        <a href="index.html" class="brand" id="brand"><span class="brand">ac</span>quire<sup>&#174;<sup>
</a>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="index.html">brand</a>-->
        </div>


        <form id="searchBarNav" class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar">
          </div>
          <button type="submit" class="btn btn-default">Pesquisar</button>
        </form>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="collapse">
          <ul class="nav navbar-nav navbar-right semLogin" >
            <li><a href="#" data-toggle="modal" data-target="#cadastroModal">Cadastre-se</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
              <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                <li>
                  <div class="row">
                    <div class="col-md-12">
                      <form class="form" role="form" id="login" novalidate>
                        <div class="form-group">
                          <label class="sr-only" for="email">Email:</label>
                          <input name="email" ng-model="email" type="email" class="form-control" id="email" placeholder="email">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="password">Senha:</label>
                          <input name="senha" ng-model="senha" type="password" class="form-control" id="password" placeholder="senha">
                        </div>
                        <div id="falhaNoLogin" class="hide">
                          <p class="text-danger">Login ou senha inválidos</p>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </li>
                <li class="divider"></li>
                <a href="" id="esqueceuASenha">Esqueceu a Senha?</a>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right comLogin">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" id="nome"><i class="glyphicon glyphicon-user"></i> <span id="userEmail"></span><b class="caret"></b></a>
              <ul class="dropdown-menu" id="user_info">
                <li><a href="compras.html">Compras <i class="glyphicon glyphicon-list-alt pull-right"></i></a></li>
                <li class="divider"></li>
                <li><a id="logout">Sair <i class="glyphicon glyphicon-log-out pull-right"></i></a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="cart_itens"></a>
              <ul class="dropdown-menu dropdown-cart" role="menu" id="cart-dropdown">

              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container" id="content">
      <div class="row hidden-xs" id="searchBar">
        <form>
          <div class="form-group col-sm-10">
            <input type="text" placeholder="Buscar" class="form-control input-lg">
          </div>
          <div class="form-group col-sm-2">
            <button type="submit" class="btn btn-primary btn-lg col-sm-12">Buscar</button>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          <ul id="categorias">

          </ul>
        </div>
      	<div class="col-xs-12 col-sm-9" id="produtos">

        </div>
      </div>
    </div>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/TweenMax.js"></script>
    <script src="js/ScrollToPlugin.min.js"></script>
    <script src="node_modules/scrollmagic/scrollmagic/minified/ScrollMagic.min.js"></script>
    <script src="node_modules/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js"></script>
    <script src="node_modules/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
    <script src="js/modernizr.custom.min.js"></script>
    <script src="bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/produtos.js"></script>
    <script src="js/carregarUsuarios.js"></script>
    <script src="js/carrinho.js"></script>
    <script src="js/cadastro.js"></script>
    <script src="js/adicionarProdutos.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>
