  *{
    margin: 0;
    padding: 0;
  }
  .cabecalho{
    background: linear-gradient(45deg,rgba(0, 200, 0, 1),rgba(0, 200, 0, 0.0));
    padding: 10px;
    box-shadow: 0px 3px 4px rgba(0,0, 0, 0.5);
    overflow: auto;
  }
  .foto{
    display: inline-block;
    /*box-sizing: border-box;*/
    margin: 20px;
    padding: 15px;
    background: #C0C0C0;
    border-radius: 10px;
    /*width: 250px;*/
    /*border: 0px solid black;*/
    /*transform: rotateZ(60deg);*/
    /*transition: transform 1s linear;*/
  }
  /*.foto:hover{
    transform: scale(1.2,1.2);
  }*/
  .foto img{
    width: 100px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  }
  .galeria{
    /*background: radial-gradient(red 15%,yellow 15%,blue 70%);*/
    padding: 20px;
    text-align: center;
  }
  .galeria h1{
    text-shadow: -4px -4px 4px red;
  }
  .primeira{
    /*transform: scale(2,3);*/
    /*transform: rotate(20deg);*/
    /*transform: matrix(2, -0.5, 0, 3, 200, 200);*/
    /*animation-name: animacao_foto;
    animation-duration: 2s;
    animation-iteration-count: infinite;*/
  }
  /*.primeira:hover{
    transform: translate(100px,0);
  }*/
  @keyframes animacao_foto {
    0%{
      transform: translate(0,0);
    }
    25%{
      transform: translate(500px,0px);
    }
    50%{
      transform: translate(500px,500px);
    }
    75%{
      transform: translate(0px,500px);
    }
    100%{
      transform: translate(0px,0px);
    }
  }
  .navegador{
    background-color: rgb(255, 123, 0);
  }
  .navegador ul li a{
    display: block;
    text-decoration: none;
    padding: 7px;
    color: black;
  }
  .navegador ul li a:hover{
    background-color: rgb(255, 191, 0);
  }

  .navegador ul li a.active{
    background-color: rgb(255, 80, 15);
    color: #fff;
  }

  .cabecalho h1{
    float: left;
  }
  .menu{
    float: right;
    text-decoration: none;
    color: black;
    position: relative;
    top: 9px;
  }
  @media screen and (min-width: 480px) {
    .navegador{
      float: left;
      width: 15vw;
      height: 100vh;
    }
    .galeria{
      margin-left: 15vw;
    }
    .menu{
      display: none;
    }
    .navegador{
      display: block !important;
    }
  }

  @media screen and (max-width: 479px) {
    .navegador{
      display: none;
      position: absolute;
      width: 100vw;
      animation: fadeIn;
      animation-duration: 0.5s;
    }
    .cabecalho:active + .navegador{
      display: block;
    }
    .navegador:active{
      display: block;
    }
  }

  @keyframes fadeIn {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
