table tr{
  padding:0;
  margin:0;
}
table td, table th{
  padding:10px;
  border:1px solid #ccc;
  margin:0;
}

table{
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

img{
  width:50px;
}

p{
  text-align: justify;
}

iframe{
  width:100%;
  border:0;
  height: 400px;
  margin-top:10px;
}

.centralizado{
  margin-left: auto;
  margin-right: auto;
}

.container{
  width:900px;
}
