*{
  margin:0;
  padding: 0;
}

.right{
  float: right;
}

.left{
  float: left;
}

body, html{
  height: 100%;
}

#refresh{
  padding: 4px;
  cursor: pointer;
}

#refresh:hover{
  text-decoration: underline;
}

#refresh .fa{
  margin-left: 5px;
}

.container{
  max-width: 900px;
  margin: auto;
  overflow: auto;
}

.content .container{
  padding: 10px;
}

.content{
  padding: 80px 0 10px;
  background-color: #e5e5e5;
  height: 100%;
}

.logo, .logo h1{
  float: left;
}

.btn{
  border:none;
  background-color: #fff;
  display: block;
  padding: 5px;
  cursor: pointer;
  color: #01579b;
}

.btn:hover{
  color: #0277bd;
}

.fa-2x, .fa{
  font-style: normal;
}

.addPost{
  float: right;
}

header.header .container{
  overflow: auto;
  padding: 10px;
}

header.header{
  overflow: auto;
  background-color: #fff;
  box-shadow: 0px 2px 4px #888;
  position: fixed;
  width: 100%;
  color: #01579b;
}

.post{
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px #888;
  background-color: #fff;
  margin-top: 20px;
}

.post header{
  padding: 10px 0;
}

.post header a, .post header a:visited{
  color: #01579b;
  text-decoration: none;
}

.post header a:hover{
  text-decoration: underline;
}

.post p{
  text-align:justify;
}

.post .date{
  color: #888;
  font-size: 0.8em;
}

.post .delete{
  color: grey;
  cursor: pointer;
}

.post .delete:hover{
  color:red;
}

.modal-overlay{
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  animation: fadeIn;
  animation-duration: 1s;
  top:0;
  bottom:0;
}

.modal{
  border-radius: 2px;
  position: fixed;
  background-color: #fff;
  width: 900px;
  height: 500px;
  margin-left: calc(50vw - 450px);
  margin-top: calc(50vh - 250px);
  display: none;
  animation: fadeIn;
  animation-duration: 1s;
}

.modal .modal-header{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.modal .modal-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 40px;
  overflow: auto;
  border-top: 1px solid #ccc;
}

.modal .modal-footer .btn{
  float: right;
  background-color: #01579b;
  color: #fff;
  padding: 10px;
  margin: 5px;
  line-height: 20px;
  border-radius: 2px;
}

.modal .modal-content{
  padding: 10px;
}

.input-form{
  position: relative;
  display: block;
  margin: 10px 10px 20px;
}

.input-form label{
  display: block;
  position: absolute;
  bottom: 10px;
  color: #888;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-delay: initial;
  font-size: 20px;
}

.input-form input:focus + label, .input-form textarea:focus + label, .input-form.active label{
  bottom: calc(100% - 15px);
  font-size: 15px;
  color: #01579b;
}


.input-form input:focus, .input-form textarea:focus, .input-form.active input, .input-form.active textarea{
  border-bottom: 2px solid #01579b;
}

.input-form input, .input-form textarea{
  border: none;
  margin-top: 15px;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding: 10px 0;
  width: 100%;
}

.input-form textarea{
  height: auto;
  height: 100px;
  resize: vertical;
  max-height: 200px;
}


.modal .modal-footer .btn:hover{
  background-color: #0277bd;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
