html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

@font-face {
    font-family: 'fontawesome';
    font-style: normal;
    src: url("../font-awesome/fonts/fontawesome.woff?14663396");
}

@media screen and (min-width: 769px){
  .hide-large{
    display: none !important;
  }

  nav#myAccordion{
    display: none !important;
  }
}

@media screen and (max-width: 769px){
  .show-large{
    display: none !important;
  }
}

@media screen and (min-width: 993px){
  .hide-xlarge{
    display: none !important;
  }
}

@media screen and (max-width: 992px){
  .show-xlarge{
    display: none !important;
  }
}

@media screen and (max-width: 600px){
  .hide-small{
    display: none !important;
  }
}

.w3s-center{
  text-align: center;
}

nav#myAccordion{
  display: none;
  cursor:default;
  color: #000!important;
  background-color: #f1f1f1!important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  text-align: center!important;
  width: 100%;
}

nav#myAccordion > a{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px !important;
  position: absolute;
  right: 0;
  margin: 0!important;
  font-size: 24px!important;
  float: right;
  font-weight: bold;
  text-align: center!important;
}

nav#myAccordion > a:hover{
  background-color: #ccc;
  outline: 0;
}

nav#myAccordion > div{
  padding: 0.01em 16px;
  padding-top: 32px!important;
  padding-bottom: 32px!important;
}

nav#myAccordion > div::after{
  content: "";
  display: table;
  clear: both;
}

nav#myAccordion > div > a{
  border: none;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none!important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: #000!important;
  background-color: #f1f1f1!important;
  letter-spacing: 4px;
  width: 100%;
  font-size: 18px !important;
  text-align: center !important;
}

nav#myAccordion > div > div{
  cursor: auto;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 22px 8px 8px 8px;
  color: #000!important;
  background-color: #fff!important;
  text-align: center!important;
}

nav#myAccordion > div > div h3{
  font-size: 24px;
}

nav#myAccordion > div > div a{
  padding: 6px 16px;
  display: block;
  text-decoration: none;
  color: inherit;
}

nav#myAccordion > div > div::after{
  content: "";
  display: table;
  clear: both;
}




aside{
  z-index: 3;
  width: 230px;
  overflow: hidden !important;
  padding-bottom: 3px;
  display: block;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  height: 100%;
}

aside a{
  font-size: 16px;
  padding: 0 16px;
  display: block;
  text-decoration: none !important;
  color: inherit;
  background-color: transparent;
}

h4{
  font-size: 20px;
}

aside div{
  padding: 0.01em 16px;
  padding-top: 8px !important;
}

aside div::after{
  content: "";
  display: table;
  clear: both;
}

.w3schools{
  margin:4px 0 6px 0;
}

.w3schools .dotcom{
  color: #4CAF50;
  margin:0;
}

h3{
  font-size: 24px;
}

.sub-logo-center{
  margin: 14px 0 -5px 0 !important;
}

.w3schools .w3schools-logo{
  font-family: 'fontawesome';
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 37px;
  letter-spacing: 3px;
  color: #555555;
  display: block;
  position: relative;
  background-color: transparent;
}

.w3s-right{
  position:relative;
  top:5px;
  letter-spacing: 4px;
  font-family: "Segoe UI",Arial,sans-serif;
  margin-top: 16px !important;
}

 .w3s-center{
   letter-spacing: 4px;
   padding: 0;
   margin: 0;
   font-family: "Segoe UI",Arial,sans-serif;
 }

.w3s-right div{
  float: right;
}

header::after{
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 10px 0;
    font-family: "Segoe UI",Arial,sans-serif;
}

header{
  margin-top: 5px;
  color: #000 !important;
  background-color: #fff !important;
  padding: 8px 16px !important;
}

a{
  color: inherit;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dropnav{
  display: none;
  display: block;
  padding-bottom: 40px;
  position: absolute;
  width: 100%;
  z-index: 99 !important;
  color: #000!important;
  background-color: #f1f1f1!important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
}

.dropnav a{
  display: block;
  text-decoration: none;
}


.dropnav > div{
  padding-bottom: 8px!important;
}

.dropnav div{
  padding: 0 8px;
}

.dropnav > div::after{
  content: "";
  display: table;
  clear: both;
}

.dropnav .closebtn {
    padding: 10px 20px !important;
    position: absolute;
    right: 0;
    font-size: 24px!important;
    text-decoration: none;
    float: right;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
}

nav{
  margin: 0;
  padding: 0;
  width: 100%;
}

nav#header ul{
  list-style: none;
  background-color: #4CAF50 !important;
  color:#fff !important;
  font-size: 17px;
  z-index: 4;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  letter-spacing: 4px;
  font-family: "Segoe UI",Arial,sans-serif;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
}

nav#header ul li{
  float: left;
  list-style: none;
  text-transform: uppercase;
  display: list-item;
  text-align: -webkit-match-parent;
}

nav#header ul li a{
  display: block;
  padding: 16px 16px;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-align: -webkit-match-parent;
}

.white-hover, .black-hover, .dropnav a, aside a, nav#myAccordion a{
  -webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
  transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}

.white-hover:hover{
  background-color: #fff !important;
  color: #000 !important;
}

.black-hover:hover, .dropnav a:hover, aside a:hover, nav#myAccordion > div > div a:hover{
  background-color: #ccc !important;
}

nav#myAccordion > div > a:hover{
  color: #666 !important;
}

.right{
  float:right !important;
}

nav#header .fa, nav#myAccordion .fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,0);
}


.col,.half,.third,.twothird,.threequarter,.quarter{float:left;width:100%}
.col.s1{width:8.33333%}
.col.s2{width:16.66666%}
.col.s3{width:24.99999%}
.col.s4{width:33.33333%}
.col.s5{width:41.66666%}
.col.s6{width:49.99999%}
.col.s7{width:58.33333%}
.col.s8{width:66.66666%}
.col.s9{width:74.99999%}
.col.s10{width:83.33333%}
.col.s11{width:91.66666%}
.col.s12,.half,.third,.twothird,.threequarter,.quarter{width:99.99999%}
@media only screen and (min-width:601px){
.col.m1{width:8.33333%}
.col.m2{width:16.66666%}
.col.m3,.quarter{width:24.99999%}
.col.m4,.third{width:33.33333%}
.col.m5{width:41.66666%}
.col.m6,.half{width:49.99999%}
.col.m7{width:58.33333%}
.col.m8,.twothird{width:66.66666%}
.col.m9,.threequarter{width:74.99999%}
.col.m10{width:83.33333%}
.col.m11{width:91.66666%}
.col.m12{width:99.99999%}}
@media only screen and (min-width:993px){
.col.l1{width:8.33333%}
.col.l2{width:16.66666%}
.col.l3,.quarter{width:24.99999%}
.col.l4,.third{width:33.33333%}
.col.l5{width:41.66666%}
.col.l6,.half{width:49.99999%}
.col.l7{width:58.33333%}
.col.l8,.twothird{width:66.66666%}
.col.l9,.threequarter{width:74.99999%}
.col.l10{width:83.33333%}
.col.l11{width:91.66666%}
.col.l12{width:99.99999%}}
