/* BAR */

#header{
  background-color: #ccc;
  box-shadow: 0 2px 4px #888;
}

#header ul{
  list-style: none;
}

#header > ul > li{
  display: inline-block;
}

#header > ul a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

#header a:hover{
  background-color: #aaa;
}

#header ul li ul {
  position: absolute;
  background-color: #ccc;
  width: 300px;
  box-shadow: 0 2px 4px #888;
  visibility: hidden;
}

#header ul li ul li{
   max-height: 0;
   overflow: hidden;
  -webkit-transition: visibility 0s, max-height  .4s;
  transition: visibility 0s, max-height .4s;
}

#header a:hover + ul{
  visibility: visible;
}

#header ul li ul:hover{
  visibility: visible;;
}

#header ul li ul:hover li, #header a:hover + ul li{
  max-height: 36px;
}

/* SIDEBAR - LEFT */

#sidebar-left{
  padding-top: 20px;
  box-sizing: border-box;
  float:left;
  box-shadow: 2px 2px 4px #888;
  width: 150px;
  min-height: 100%;
}

#sidebar-left > ul > li {
  list-style: none;
  padding-bottom: 10px;
}

#sidebar-left a{
  padding: 5px;
  display: block;
  text-decoration: none;
  color:#000;
}

#sidebar-left > ul a{
  padding-left: 15px;
}

#sidebar-left .fa{
  color: #101010;
  font-size: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: normal normal normal 14px/1 FontAwesome;
  float: right;
  margin-right: 5px;

}

#sidebar-left > ul a:hover + ul, #sidebar-left > ul a + ul:hover{
  max-height: 1000px;
}

#sidebar-left ul li ul a{
  padding-left:25px;
}

#sidebar-left ul li ul{
  overflow: hidden;
  max-height: 0px;
  transition: max-height .7s;
}

#sidebar-left a:hover{
  background-color: #aaa;
}

/* SIDEBAR - RIGHT*/

#sidebar-right{
  float: right;
  width: 200px;
  box-shadow: -2px 2px 4px #888;
  background: linear-gradient(#ccc, #fff, #fff, #fff);
}

#sidebar-right ul{
  list-style: none;
}

#sidebar-right a{
  text-align: center;
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #000;
  padding: 10px;
}

#sidebar-right a:hover{
  background-color: #aaa;
}

/* ANIMATION */

#content{
  float: left;
  min-height: 100%;
}

@keyframes translate {
  25%{
    transform: translate(300px, 0);
  }
  50%{
    transform: translate(300px, 300px);
  }
  75%{
    transform: translate(0, 300px);
  }
  100%{
    transform: translate(0, 0);
  }
}

@keyframes rotate {
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

#content img{
  width: 150px;
  height: 150px;
}

#content div{
  display: inline-block;
}

.rotate{
  animation: rotate linear infinite 2s;
}

.translate{
  animation: translate linear infinite 2s;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  #sidebar-left{
    float: none;
    width:100%;
    min-height: 10px;
  }

  #content{
    float: none;
    min-height: 400px;
  }

  #sidebar-right{
    float: none;
    width: 100%;
  }
}
